<script type="text/javascript">
	$(document).ready(function(){
		$("#realizaApuesta").button().click(function(){
			var datos = $("#apuestaForm").serializeArray();
			$.post("index.php?action=realizarApuesta", datos, function(response){
				$("body").append("<div id='res_apuesta'></div>");
				$("#res_apuesta").html(response.statusMsg).dialog({
					title: "Ingresar Apuesta",
					buttons: {
						Ok: function(){
							$(this).dialog("close").remove();
							setTimeout('window.location = "index.php"', 1000);
						}
					}
				});
			}, "json");
			
		});
	})
</script>
<h5>Hola, {usuario}!</h5>

<h4>Torneo en curso: {getProperty(torneoActual,#to_nombre#)}</h4>

<h3>Próxima fecha / juego</h3>

<form id="apuestaForm" action="#">
	<table id="proxima_fecha">
		<thead>
			<tr>
				<td colspan="5" style="text-align:right;">Fecha Nº: {getProperty(fecha_actual,#fe_nombre#)} - Del {getFechaArgentina(fecha_actual,#fe_fecha_inicio#)} al {getFechaArgentina(fecha_actual,#fe_fecha_fin#)}</td>
			</tr>
			<tr>
				<th></th>
				<th>LOCAL</th>
				<th>EMPATE</th>
				<th>VISITANTE</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{if:apuestaUsuario}
			<tr flexy:foreach="listaPartidos,partido">
				<td style="width:20px; text-align:center;">{if:esApuesta(partido,#L#)}X{end:}</td>
				<td>{getProperty(partido,#_ap_par_id._par_local_eq_id.eq_nombre#)}</td>
				<td style="width:20px; text-align:center;">{if:esApuesta(partido,#E#)}X{end:}</td>
				<td>{getProperty(partido,#_ap_par_id._par_visitante_eq_id.eq_nombre#)}</td>
				<td style="width:20px; text-align:center;">{if:esApuesta(partido,#V#)}X{end:}</td>
			</tr>
			{else:}
			<tr flexy:foreach="listaPartidos,partido">
				<td><input type="radio" name="ap_ganador[{getProperty(partido,#par_id#)}]" value="L"></td>
				<td>{getProperty(partido,#_par_local_eq_id.eq_nombre#)}</td>
				<td><input type="radio" name="ap_ganador[{getProperty(partido,#par_id#)}]" value="E"></td>
				<td>{getProperty(partido,#_par_visitante_eq_id.eq_nombre#)}</td>
				<td><input type="radio" name="ap_ganador[{getProperty(partido,#par_id#)}]" value="V"></td>
			</tr>
			{end:}
		</tbody>
	</table>
	
	{if:apuestaUsuario}
	<p style="text-align:right; margin-top: 10px" class="success">Ya realizaste tu apuesta para esta fecha.</p>
	{else:}
	<p style="text-align:right; margin-top: 10px"><b>Fin de la apuesta: </b> {getFechaArgentina(fecha_actual,#fe_fecha_fin_apuesta#)} </p>
	<p style="text-align:center;"><input type="button'" name="realizaApuesta" id="realizaApuesta" value="Realizar Apuesta!" /></p>
	{end:}
</form>

<p class="nota"><b>Nota: </b>La tarjeta de resultados debe ser ingresada, al menos, 1 hora antes del inicio del primer partido de la fecha.
En caso de no ingresarla, la misma no será contabilizada y se le asignarán 0 puntos al usuario en la fecha correspondiente.</p>

<div id="fecha_pasada" class="success">
	<h3>Fecha Anterior: N° {getProperty(fechaAnterior,#fe_nombre#)}</h3>
	<p><b>Puntos ganados: </b>{getProperty(fechaAnterior,#puntosGanados#)}</p>
	<p><b>Posicion en la fecha: </b>{getProperty(fechaAnterior,#posicionFecha#)}</p>
	<p><b>Posición actual en el torneo: </b>{getProperty(torneoActual,#posicionTorneo#)}</p>
</div>